//- body.jade
//- This file provides the HTML body part.


body
  table
    tr
      td(style= "width:20%;" )
      td
        #maintext
          h1 Speak Up!
          #content
            p Step 1) Record a speech for at least 30 seconds
            p Step 2) Speak Up will analyze your speech and personality traits
            p Step 3) Receive improvement reccomendations from Speak Up and try again!
