html
  body
    table
      tr
        td
          #maintext
              #header_text
                h1#speak_text Speak Up!
                #speaker
                #user
                #content
                  p Step 1) Record a speech for at least 30 seconds
                  p Step 2) Speak Up will analyze your speech and personality traits
                  p Step 3) Receive improvement reccomendations from Speak Up and try again!
              .container
                    .row
                      .col-lg-6.col-md-6.col-xs-12
                        .row
                          .col-lg-12.col-md-12.col-xs-12a
                            p#content.form-group
                              | For best results, please use a hi-speed internet connection and a close talking microphone (e.g., from a headset) in a quiet area.
                            .microphone
                              .micButton-preload
                              .micButton
                              p.micText
                                | Press to start speaking
              .temp
                .box.bg-1
                  
                    .well
                      .form-group.row.loading.text-center(style='display:none')
                        img(src='images/watson.gif')
                      .errorMsg

                      #text
                      .bg-1
                      button#abcd.button.button--wayra.button--border-thick.button--text-upper.button--size-s(name='btn') Results

    script(type='text/javascript', src='/js/browser-detect.js')
    script(type='text/javascript', src='/js/jquery-1.11.1.min.js')
    script(type='text/javascript', src='/js/speech-recognizer.js')
    script(type='text/javascript', src='/js/socket.io.js')
    script(type='text/javascript', src='/js/demo.js')
    script(type='text/javascript', src='/js/index.js')
    script(type='text/javascript', src='/js/try.js')
