//- head.jade
//- This file provides the HTML head part

head
  title Speak Up
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  meta(http-equiv='Cache-Control', content='no-cache, no-store, must-revalidate')
  meta(http-equiv='Pragma', content='no-cache')
  meta(http-equiv='Expires', content='0')
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
  link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
