doctype html
html(lang='en')
  head
    block title
      title Speech to Text

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/css/watson-bootstrap-dark.css')
    link(rel='stylesheet', href='/css/banner.css')
    link(rel='stylesheet', href='/css/style1.css')

  body
    div.container
        div.row
        div.col-lg-6.col-md-6.col-xs-12
          h2 Input
          div.mic-container.well.overlay-container
            div.unsupported-overlay
              h4 This application only works in recent versions of 
                a(href="https://www.google.com/intl/en/chrome/browser/desktop/", target="_blank") Chrome
                |  supporting HTML5 audio capture.
            div.row
              div.col-lg-12.col-md-12.col-xs-12
                p.form-group For best results, please use a hi-speed internet connection and a close talking microphone (e.g., from a headset) in a quiet area.  
                div.microphone
                  div.micButton-preload
                  div.micButton
                  p.micText Press to start speaking

        div.col-lg-6.col-md-6.col-xs-12
          h2 Output
    script(type='text/javascript', src='/js/browser-detect.js')
    script(type='text/javascript', src='/js/jquery-1.11.1.min.js')
    script(type='text/javascript', src='/js/speech-recognizer.js')
    script(type='text/javascript', src='/js/socket.io.js')
    script(type='text/javascript', src='/js/demo.js')
        